* {
  box-sizing: border-box;
  font-family: "Libre Baskerville", serif;
}

body {
  background-color: #fefae0;
}

section {
  background-color: #606c38;
  padding: 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

header {
  background-color: #283618;
  color: #fefae0;
  padding: 30px;
  text-align: center;
  width: 100%;
}

h4 {
  padding: 5px;
}

input[type="text"],
textarea {
  background-color: #fefae0;
}

.dynamic-card {
  background-color: #fefae0;
  font-size: 90%;
}

#saved-books-container {
  margin-top: 100px;
}

button.btn-light {
  background-color: #fefae0;
  color: #606c38;
  border: 1px solid #606c38;
}

button.btn-dark {
  background-color: #283618;
  color: #fefae0;
  border: 1px solid #283618;
}
